POSTGRES_DB=clearleaf
POSTGRES_USER=clearleaf
POSTGRES_PASSWORD=local-dev-change-me
MINIO_ROOT_USER=clearleaf
MINIO_ROOT_PASSWORD=local-dev-change-me
APP_STORAGE_MINIO_BUCKET=clearleaf-media
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=local-dev-change-me
APP_PUBLIC_BASE_URL=http://localhost:3000
APP_LEGAL_CURRENT_VERSION=2026-05-30
USER_CREATION_APPROVAL_REQUIRED=Y
APP_SIGNUP_APPROVAL_EMAIL_TO=admin@clearleaf.local
APP_SIGNUP_PASSWORD_ENCRYPTION_KEY=local-dev-change-me
APP_SIGNUP_APPROVAL_TOKEN_DAYS=7
SPRING_MAIL_HOST=mailpit
SPRING_MAIL_PORT=1025
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_SMTP_AUTH=false
SPRING_MAIL_SMTP_STARTTLS_ENABLE=false
